body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body.home-page {
    background-image: url('path-to-your-home-background-image/college.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    /* Ensures the background covers the entire viewport height */
}

body.about-page {
    background-image: url('download\ \(4\).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

header {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
}

.logo {
    width: 150px;
    height: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.home,
.about,
.contact {
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
    margin: 20px;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* Adjust based on your requirement */
}

.responsive-image {
    max-width: 100%;
    height: auto;
}